<% var title="Get Periodic - Enterprise Content Management" %>
<% include ./shared/header %>
<div id="container" class="container">
	<div class="panes">
		<div class="pane pane-left">
			<div class="nav-arrow">
				<a href="#back">&rarr;</a>
			</div>
			<div id="leftpagecontent" class="left pane-content">
				<img src="assets/img/icon_51262.png" title="Get Periodic for Developers, Designer and Content Creators. The open source enterprise content management framework for all" alt="Get Periodic for Developers, Designer and Content Creators. The open source enterprise content management framework for all" class="left"/>
				<p class="left enduser">Developers<br>Designers</p>
				<p class="download"><a href="pages/download.html" title="download">&#11015;</a></p>
			</div>
		</div>
		<div class="pane pane-right">
			<div class="nav-arrow">
				<a href="#back">&larr;</a>
			</div>
			<div id="rightpagecontent" class="right pane-content">
				<img src="assets/img/icon_50975.png" title="Get Periodic for Developers, Designer and Content Creators. The open source enterprise content management framework for all" alt="Get Periodic for Developers, Designer and Content Creators. The open source enterprise content management framework for all" class="right"/>
				<p class="right enduser">Publishers<br>Producers</p>
				<p class="download"><a href="pages/download.html" title="download">&#11015;</a></p>
			</div>
		</div>
	</div>
	<div class="pages">
		<div class="page page-left">
			<% include ./shared/index/leftpage %>
		</div>
		<div class="page page-right">
			<% include ./shared/index/rightpage %>
		</div>
	</div>
</div>
<% include shared/footer %>
