<% var title="Get Periodic - Enterprise Content Management Framework" %>
<% include ./shared/header %>
<div class="container">
	<div class="intro">
		<div class="pane pane-left">
			<div class="pane-content">
				<img src="/assets/img/icon_51262.png" title="Get Periodic for Developers, Designer and Content Creators. The open source enterprise content management framework for all" alt="Get Periodic for Developers, Designer and Content Creators. The open source enterprise content management framework for all"/>
				<p>Developers<br>Designers</p>
			</div>
		</div>
		<div class="pane pane-right">
			<div class="pane-content">
				<img src="/assets/img/icon_51262.png" title="Get Periodic for Developers, Designer and Content Creators. The open source enterprise content management framework for all" alt="Get Periodic for Developers, Designer and Content Creators. The open source enterprise content management framework for all"/>
				<p>Publishers, Producers<br>Editors</p>
			</div>
		</div>
	</div>
	<div class="page page-left">
		left page
	</div>
	<div class="page page-left">
		right page
	</div>
</div>
<% include shared/footer %>
